{% comment %} <div class="banner-container">
    <img src="{{ "banner-bg.jpg" |  asset_url }}" alt="banner image">
    
    <div>
        <h1>Welcome to Asells</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, expedita. Repellendus, voluptatum doloremque. Iste, incidunt!</p>
    </div>
</div> {% endcomment %}