<nav id="navbar">
  <img
    src="{{ "logo.png" |  asset_url }}"
    width="60"
    height="auto"
    alt="Logo">
  <div>
    <!-- Main menu -->
    {% for link in linklists.main-menu.links -%}
      {{ link.title | link_to: link.url }}
    {%- endfor %}
  </div>
</nav>